[submodule "src/vim/bundle/puppet"]
	path = src/vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "src/vim/bundle/ctrlp"]
	path = src/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "src/vim/bundle/pyflakes"]
	path = src/vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "src/vim/bundle/py.test"]
	path = src/vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "src/vim/bundle/pep8"]
	path = src/vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "src/vim/bundle/pydoc"]
	path = src/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "src/vim/bundle/git"]
	path = src/vim/bundle/git
	url = https://github.com/tpope/vim-git.git
